/*Navigation*/
nav{
   
    
    
    ul li{ width:auto;}
    
    ul li a { padding: .5rem 1rem;
    
    }
}

/*Main*/

main{
    
     figure.photo{ width: 33.33%-$gutterdbl; float:left;}  
}