



$primaryColor: #085D03;
$secondaryColor: #720407;
$thirdColor: #230A4E;
$fourthColor: #FFF4A1;
$mainFont: 'Amatic SC', cursive;
$secondaryFont: 'Permanent Marker', cursive;
$thirdFont: 'Itim', cursive;
$gutter: 2%;
$gutterdbl: (2 * $gutter);
