



$primaryColor: #007d6f;
$secondaryColor: #6d6e72;
$thirdColor: #b39175;
$fourthColor: #ffffff;
$mainFont: 'Libre Franklin', sans-serif;
$secondaryFont: 'Permanent Marker', cursive;
$thirdFont: 'Itim', cursive;
$gutter: 2%;
$gutterdbl: (2 * $gutter);
