



$primaryColor: #0C0907;
$secondaryColor: #7D8081;
$thirdColor: #FFffff;
$fourthColor: #202122;
$mainFont: 'Allerta Stencil', sans-serif;
$secondaryFont: 'Josefin Sans', sans-serif;
$gutter: 2%;
$gutterdbl: (2 * $gutter);
