
  



/*Header*/

header{
    
    background-image: url(../images/header0960lg.jpg);
    height: 187px;   
    
}
/*Main*/

main{
    
    div.events article{
        
        float: left;
        width: 33.33%-$gutterdbl;
    }
}



