/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*                              Header                                         */

div#headerwrapper{ background-color: $primaryColor;}
header{
    
    background-image: url(../images/header0560dk.jpg);
    height: 101px;
    padding: 10px $gutter;
    
    h1,h2,h3{
        
        color: $thirdColor;
        text-align:left;
        
        
    }
    h1{
        
        font-family: $mainFont;
        font-size: 40px;
        font-weight: 400;
        
            
    }
    
    h2{
        font-family: $mainFont;
        font-size: 21px;
        
    }
    h3{
        
        font-family: $mainFont;
        font-size: 12.5px;
        padding: 4px 0;
    }
}





/*                              Navigation                                     */
div#navwrapper{ background-color: $primaryColor;}
nav{
    
    border-bottom:1.5px solid rgba(0,0,0,0.3);
    
    
    
    ul li{
   
    list-style-type: none;
    width: 25%;
    background-color: lighten($secondaryColor, 3%);
    float: left;
    
    border-right: 1px solid rgba(0,0,0,0.3);
}



ul li a{
    
    display: block;
    color: $thirdColor;
    padding: .5rem 0;
    font-family: $secondaryFont;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease;
    
    
}

ul li a:hover{
    
    background-color: darken($primaryColor, 5%);
    
}

.active {
    background-color: darken($secondaryColor, 5%);
}
    
}



/*                              Main                                           */

main{
    
    padding: $gutter;
    
    h2{
        
        font-family:$mainFont;
        font-weight: 700;
        font-size:23px;
        margin: .75rem 0 .75rem 0;
        color:$primaryColor;
    }
    
    h3{
        
        font-family:$secondaryFont;
        font-weight: 700;
        font-size:20px;
        margin: 0 0 .75rem 0;
        color: darken($secondaryColor, 10%);
    }
    p{
        font-family:$secondaryFont;
        font-weight: 400;
        line-height:140%;
       
        color: $secondaryColor;
    }
    div.events article{
        
        margin: .5rem $gutter;
        width: 100%-$gutterdbl;
    }
    
    
    
  
    
}

/*                              Footer                                         */

footer{
    
    background-color: $primaryColor;
    p{
    color: $fourthColor;
    font-family: $secondaryFont;
    font-weight: 700;
    padding: 5px;
    text-align: center;
        
    }
    p a{color:$fourthColor;}
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}