/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*                              Header                                         */
header {
  padding: 10px; }
  header h1, header h2 {
    color: #230A4E;
    text-align: left;
    padding: 0 2%; }
  header h1 {
    font-family: "Amatic SC", cursive;
    font-size: 60px;
    font-weight: 400; }
  header h2 {
    font-family: "Amatic SC", cursive;
    font-size: 27px; }

/*                              Navigation                                     */
nav {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #085D03; }
  nav ul li {
    list-style-type: none;
    width: 25%;
    background-color: #096c03;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul li a {
    display: block;
    color: #FFF4A1;
    padding: .5rem 0;
    font-family: "Itim", cursive;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease; }
  nav ul li a:hover {
    background-color: #230A4E; }
  nav .active {
    background-color: #720407; }

/*                              Main                                           */
main {
  padding: 2%;
  font-size: 25px; }
  main figure.photo {
    width: 46%;
    margin: 2%;
    float: left; }
  main figure.photo img {
    width: 100%; }
  main figure.photo figcaption {
    font-family: "Permanent Marker", cursive;
    font-size: 18px; }

/*                              Footer                                         */
footer {
  background-color: #085D03; }
  footer p {
    color: #FFF4A1;
    font-family: "Itim", cursive;
    padding: 5px;
    text-align: center; }
  footer p a {
    color: #FFF4A1; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 560px) {
  /*Navigation*/
  nav ul li {
    width: auto; }
  nav ul li a {
    padding: .5rem 1rem; }

  /*Main*/
  main figure.photo {
    width: 29.33%;
    float: left; } }
/* end media query */
@media only screen and (min-width: 1140px) {
  /* Body */
  header, nav, main, footer {
    max-width: 71.25rem;
    margin: 0 auto;
    box-shadow: 0 0 10px #000000; }

  /*Main*/
  main figure.photo {
    width: 21%;
    float: left; } }
/* end media query */
