

/*Header*/

header{
    
    h1,h2{
        
        margin-left: 200px;}
}

/*Navigation*/
nav{
  
    
    
   
    
   
}

/*Main*/

main{
    
    div.story article{
        
        float: left;
        width: 50%-$gutterdbl;
        
    }
    
     
    picture.founder img{width:58.3vw; float:right;padding:0 $gutter;}
   
}