



$primaryColor: #0C0907;
$secondaryColor: #7D8081;
$thirdColor: #FFffff;
$fourthColor: #202122;
$mainFont: 'Righteous', cursive;
$secondaryFont: 'Patua One', cursive;
$gutter: 2%;
$gutterdbl: (2 * $gutter);
